* {
    padding: 0;
    margin: 0;
    text-align: center;
}

.pimg1 {
    background-image: url("images/image1.png");
    height: 100vh;
}

.pimg2 {
    background-image: url("images/image2.png");
    height: 400px;
}

.pimg3 {
    background-image: url("images/image3.png");
    height: 400px;
}

.pimg4 {
    background-image: url("images/image1.png");
    height: 100vh;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-text {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    font-size: 2rem;
    border-radius: 15px;
    letter-spacing: 5px;
}

.section1,
.section2,
.section3 {
    padding: 25px;
    text-align: center;
}

h2 {
    margin: 10px 0px 20px 0px;
}

p {
    font-size: 20px;
    margin-bottom: 40px;
}

/* Media Queries for responsiveness */

@media only screen and (min-width: 768px) {
    .section1,
    .section2,
    .section3 {
        padding: 25px 170px;
    }
}

@media only screen and (max-width: 767px) {
    .section1,
    .section2,
    .section3 {
        padding: 25px;
    }
}
